@import '../variables.scss';

.correctIncorrectCards {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  font-family: $font-family;

  &__card {
    flex: 1;

    &--correct {
      margin-right: 1rem;
    }

    &--incorrect {
      margin-left: 1rem;
    }
  }
}
