$btn-color-light: #fff;
$btn-color-primary: #0062ff;
$btn-color-primary-darker: #0353e9;
$btn-color-secondary: #4c4c4c;
$btn-color-secondary-darker: #171717;
$btn-color-ghost-hover: #e5e5e5;
$btn-color-danger: #dc222b;
$btn-color-danger-darker: #ba1b23;
$btn-color-disabled: #bebebe;
$btn-color-disabled-darker: #8c8c8c;

.btn {
  border-width: 1px;
  border-style: solid;
  min-height: 3rem;
  padding: 1rem;
  min-width: 10rem;
  max-width: 20rem;
  display: inline-flex;
  justify-content: space-between;
  margin: 0.5rem;

  &--primary {
    background-color: $btn-color-primary;
    color: $btn-color-light;
    border-color: $btn-color-primary;

    &:hover:not(:disabled),
    &:focus:not(:disabled) {
      background-color: $btn-color-primary-darker;
    }
  }

  &--secondary {
    background-color: $btn-color-secondary-darker;
    color: $btn-color-light;
    border-color: $btn-color-secondary-darker;

    &:hover:not(:disabled),
    &:focus:not(:disabled) {
      background-color: $btn-color-secondary;
    }
  }

  &--tertiary {
    // Primary color inverted
    background-color: $btn-color-light;
    color: $btn-color-primary;
    border-color: $btn-color-primary;

    &:hover:not(:disabled),
    &:focus:not(:disabled) {
      background-color: $btn-color-primary;
      color: $btn-color-light;
      border-color: $btn-color-primary;
    }
  }

  &--ghost {
    border-color: transparent;
    color: $btn-color-primary;
    background-color: transparent;

    &:hover:not(:disabled),
    &:focus:not(:disabled) {
      background-color: $btn-color-ghost-hover;
    }
  }

  &--danger {
    background-color: $btn-color-danger;
    color: $btn-color-light;
    border-color: $btn-color-danger;

    &:hover:not(:disabled),
    &:focus:not(:disabled) {
      background-color: $btn-color-danger-darker;
    }
  }

  &--disabled {
    background-color: $btn-color-disabled;
    color: $btn-color-disabled-darker;
    border-color: $btn-color-disabled;
    cursor: not-allowed;
  }

  &--iconOnly {
    min-width: auto;
  }

  &--small {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    min-height: auto;
  }
}

.btn--disabled.btn--tertiary {
  background-color: $btn-color-light;
  color: $btn-color-disabled;
  border-color: $btn-color-disabled;
}

.btn--disabled.btn--ghost {
  background-color: transparent;
  color: $btn-color-disabled;
  border-color: transparent;
}
